@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
  --color-green: #0cb585;
  --color-yellow: #ccb23b;
  --color-grey: #2d2d2d;
}

body {
  text-align: center;
  font-size: 1em;
  font-family: "Luckiest Guy", cursive;
  margin: 0;
  background: #5C4F4A;
  color: #eee;
}

h1 {
  font-size: 2em;
  font-weight: 100;
  padding: 12px 0;
  margin: 0 0 30px 0;
  color: #eee;
}

/* rows */

.row {
  text-align:  center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 52px;
  height: 52px;
  border: 5px solid #372f2c;
  border-radius: 8px;
  margin: 2px;
  text-align: center;
  line-height: 52px;
  text-transform: uppercase;
  font-size: 2.5em;
}

.row > div.green {
  --background: var(--color-green);
  --border-color: var(--color-green);
  animation: flip 0.5s ease forwards;
}

.row > div.yellow {
  --background: var(--color-yellow);
  --border-color: var(--color-yellow);
  animation: flip 0.5s ease forwards;
}

.row > div.grey {
  --background: var(--color-grey);
  --border-color: var(--color-grey);
  animation: flip 0.5s ease forwards;
}

.row > div:nth-child(2) {
  animation-delay: 0.2s;
}

.row > div:nth-child(3) {
  animation-delay: 0.4s;
}

.row > div:nth-child(4) {
  animation-delay: 0.6s;
}

.row > div:nth-child(5) {
  animation-delay: 0.8s;
}

.row.current > div.filled {
  animation: bounce 0.1s ease-in-out forwards;
}

.keypad {
  max-width: 650px;
  margin: 20px auto;
}

.keypad > div {
  margin: 2.5px;
  width: 60px;
  height: 55px;
  background: #3b3532;
  color: #fff;
  display: inline-block;
  border-radius: 6px;
  line-height: 55px;
  font-size: 30px;
  font-weight: 500;
}

.keypad > div.green {
  background: var(--color-green);
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad > div.yellow {
  background: var(--color-yellow);
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad > div.grey {
  background: var(--color-grey);
  color: #fff;
  transition: all 0.3s ease-in;
  opacity: 30%;
}

/* animações */
@keyframes flip {
  0% {
    transform: rotateY(0);
    background: #5C4F4A;
    border-color: #333;
  }
  45% {
    transform: rotateY(-90deg);
    background: #5C4F4A;
    border-color: #333;
  }
  55% {
    transform: rotateY(-90deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }
  100% {
    transform: rotateY(0);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}